{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Skeleton</h1>
                <p class="lead">
                    Symfony {{ app_version|lts }} Flex starter kit with AssetMapper, SassBundle, Bootstrap SCSS customization, StimulusBundle, UX Icons and UX Twig Components
                </p>
                <table class="table table-striped table-responsive-sm">
                    <tr>
                        <th scope="row" style="width:120px">Host</th>
                        <td>{{ app.request.host }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Port</th>
                        <td>{{ app.request.port }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Scheme</th>
                        <td>{{ app.request.scheme }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Locale</th>
                        <td>{{ app.request.locale }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Controller</th>
                        <td>{{ app.request.attributes.get('_controller') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Route</th>
                        <td>{{ app.request.attributes.get('_route') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">User agent</th>
                        <td>{{ app.request.headers.get('user-agent') }}</td>
                    </tr>
                </table>
                <div data-controller="default" class="mb-3 p-2 border border-dark border-1 rounded-2"></div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                    <a href="{{ path('_error_index') }}" class="btn btn-outline-danger btn-lg px-4">Preview Errors</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img class="rounded-top-5" src="https://picsum.photos/720" alt="Picsum placeholder" width="720">
            </div>
        </div>
    </div>
{% endblock %}

